* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: #cccccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Barra Lateral */
#sidebar {
    width: 260px;
    background-color: #252526;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333;
}

.sidebar-header {
    padding: 10px 20px;
    font-size: 11px;
    letter-spacing: 1px;
    color: #bbbbbb;
}

.url-input-container {
    padding: 10px;
    display: flex;
    gap: 5px;
}

#url-input {
    background: #3c3c3c;
    border: 1px solid #3c3c3c;
    color: white;
    padding: 5px;
    font-size: 12px;
    flex-grow: 1;
}

#btn-scan {
    background: #007acc;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

#file-tree {
    padding: 10px;
    font-size: 13px;
}

.folder-root {
    font-weight: bold;
    margin-bottom: 5px;
    color: #e7e7e7;
}

/* Editor */
#editor-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
}

#tabs-bar {
    height: 35px;
    background-color: #2d2d2d;
    display: flex;
}

.tab {
    padding: 8px 20px;
    background-color: #1e1e1e;
    border-right: 1px solid #252526;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.tab.active {
    background-color: #1e1e1e;
    border-top: 1px solid #007acc;
}

#monaco-editor {
    flex-grow: 1;
}

/* Preview */
#preview-panel {
    width: 400px;
    background-color: white;
    border-left: 1px solid #333;
    display: flex;
    flex-direction: column;
}

.preview-header {
    background-color: #2d2d2d;
    color: white;
    padding: 8px;
    font-size: 11px;
    text-align: center;
}

#preview-frame {
    flex-grow: 1;
    border: none;
    background-color: white;
}
